* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 230px;
}

.header-container {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: #2e292e;
    background-color: #F2E9F7;
}

.header-info {
    height: 100px;
    vertical-align: top;
}

.header-title {
    width: 70%;
    padding-left: 10%;
    text-align: left;
}

.header-photo {
    width: 30%;
}

.text-h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-variant: small-caps;
}

#surname {
    font-weight: 500;
}

.text-h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-photo {
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

footer {
    background-color: #F2E9F7;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-link {
    color: #2e292e;
}

.rss-logo {
    width: 80px;
}